
<section class="project">
  <b-container>
    <b-row>
      <b-col md="8" offset-md="4">
        <b-card
              :title="monprojet.name"
              :class="{ active: monprojet.isActive }"
              :img-src="monprojet.picture"
              img-top
              style="max-width: 20rem;"
              class="mb-8">
        <div>
          <b-form-checkbox type="checkbox" v-model="monprojet.isActive">
            <label v-if="monprojet.isActive">Projet actif</label>
            <label v-else="!monprojet.isActive">Projet non actif</label>
          </b-form-checkbox>
        </div>
      </b-card>
      </b-col>
    </b-row>

  </b-container>
</section>

