
<section class="project">
  <b-container fluid >
      <b-row class="carteDetail" :class="{ active: monprojet.isActive }">
        <b-col  cols="4" align-self="center">
          <b-card
                  :title="monprojet.creator.name"
                  :img-src="monprojet.creator.picture"
                  img-top
                  class="mb-10">
          </b-card>
        </b-col>
        <b-col align-self="center">
          <h2>{{monprojet.name}}</h2><br>
          <p>{{monprojet.description}}</p>
          <b-form-checkbox type="checkbox" v-model="monprojet.isActive">
            <label v-if="monprojet.isActive">Projet actif</label>
            <label v-else="!monprojet.isActive">Projet inactif</label>
          </b-form-checkbox>
        </b-col>
      </b-row>
  </b-container>
  <h2>Collaborateurs</h2>
  <b-container fluid class="p-1 bg-dark">
    <b-row>
      <b-col v-for="collaborator in monprojet.collaborators">
        <h5 class="collaboratorName">{{collaborator.name}}</h5>
        <b-img thumbnail fluid :src="collaborator.picture" alt="Thumbnail" />
      </b-col>
    </b-row>
  </b-container>
</section>

