.project {
  margin-top: 2rem;
}

.carteDetail {
  border: 2px solid #138496;
}

.card {
  margin: 0.5rem;
  max-width: 20rem;
  background-color: #e9ecef
}

.collaboratorName {
  color: #ffffff;
}

.active {
  background-color: #138496;
  color: white;
}
